/* Remove the Details Sidebar on Media Overlay */
.no-sidebar .media-frame-title,
.no-sidebar .media-frame-content,
.no-sidebar .media-frame-router {
	left: 0;
}

.no-sidebar .media-frame-menu .media-menu a,
.no-sidebar .media-frame-menu .media-menu div {
	display: none;
}
.no-sidebar .media-frame-menu {
	top:auto;
	height:60px;
	left:16px;
}
.no-sidebar .hide-router .media-frame-menu .media-menu a:first-child {
	display:inline-block;
}

.no-sidebar .media-frame-menu .media-menu {
	background-color:transparent;
	border:none;
	padding: 15px 0px;
}

#featuredgallerydiv .media-modal-icon {
	background-position: -95px 5px;
}

.media-frame-content {
	border-bottom: 1px solid rgb(221, 221, 221);
}

.media-frame-toolbar, .media-menu {
	border: 0;
	box-shadow: none;
}

/* Special CSS to the Select and Remove Buttons */

@media screen and (min-width: 783px) {
	#featuredgallerydiv button {
		height: 32px !important;
		padding-top:1px !important;
	}
}

#featuredgallerydiv button {
	margin-top:5px !important;
}

#featuredgallerydiv button#toptal_authors_removeall {
	display:none;
}

#featuredgallerydiv button#toptal_authors_removeall.visible {
	display:inline;
}

#featuredgallerydiv button#toptal_authors_removeall:before {
	content:"\f153";
	font-family:"dashicons";
	position:relative;
	top:2px;
	left:-1px;
}

#featuredgallerydiv button#toptal_authors_removeall.premp6:before {
	content: "";
	display:inline-block;
	width:10px;
	height:10px;
	left:-4px;
	top:1px;
	background:url('/wp-includes/images/xit.gif') 0 50% no-repeat;
}

/* CSS to the Preview List */

#featuredgallerydiv ul {
	margin:0;
}

#featuredgallerydiv ul li {
	margin:10px 0 0 0;
	position:relative;
	width:100%;
	box-shadow:0 0 3px 0 rgb(80,80,80);
	overflow:hidden;
}
@media (max-width:1200px) {
	#postbox-container-2 #featuredgallerydiv ul li {
		width:49%;
		margin-right:2%;
		float:left;
	}
	#postbox-container-2 #featuredgallerydiv ul li:nth-child(2) {
		margin-right:0;
	}
}
@media (min-width:1201px) and (max-width:1600px) {
	#postbox-container-2 #featuredgallerydiv ul li {
		width:32.333%;
		margin-right:1.5%;
		float:left;
	}
	#postbox-container-2 #featuredgallerydiv ul li:nth-child(3) {
		margin-right:0;
	}
}
@media (min-width:1601px) {
	#postbox-container-2 #featuredgallerydiv ul li {
		width:23.5%;
		margin-right:2%;
		float:left;
	}
	#postbox-container-2 #featuredgallerydiv ul li:nth-child(4) {
		margin-right:0;
	}
}

#featuredgallerydiv ul li img {
	display:block;
	height:200px;
	width:auto;
	margin:0 auto;
}

#featuredgallerydiv ul li button {
	cursor:pointer;
	display:none;
	position:absolute;
	right:5px;
	top:0px;
	background-color:transparent;
	font-family:"dashicons";
	width: 24px;
	height:24px !important;
	padding: 0px;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	color: rgb(70, 70, 70);
	background-color: rgb(255, 255, 255);
	border-width: 0px;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}

#featuredgallerydiv ul li:hover button {
	display:block;
}

#featuredgallerydiv ul li button:hover {
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
}